<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
    </style>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class='prose mx-auto mb-16'>
    <div class='grid place-items-center'>
      <p class="notice text-emerald-600 "><%= notice %> </p>
      <p class="alert  text-red-600"><%= alert %> </p>
    </div>
    <div >
      <%  if user_signed_in? %>
        <%= render 'shared/nav' %>
      <%end%>
    </div>
    <%= yield %>
  </body>
</html>
